<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <p style="font-size: 30px; text-align: center; padding-top: 30px; font-weight: 600;">УПС! Эта Страница не существует.</p>
            <img src="assets/images/404errorpage.jpeg" width="100%" alt="Сертификат 2">
        </div>
        <div class="col-12 text-center">
            <button type="button" class="btn btn-lg btn-link" (click)="goHome()">Перейти на главноу страницу</button>
        </div>
    </div>
</div>