<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand d-block d-lg-none" href="#"><i class="fa fa-car" aria-hidden="true"></i>  Автовыкуп</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
    <ul class="navbar-nav">
      <li class="nav-item active d-none d-lg-block">
        <a class="nav-link" href="#"><i class="fa fa-car" aria-hidden="true"></i> Автовыкуп</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">О КОМПАНИИ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">КОНТАКТЫ</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">УСЛУГИ</a>
        <div class="dropdown-menu" aria-labelledby="dropdown09">
          <a class="dropdown-item" href="#">ВЫКУП БИТЫХ АВТО</a>
          <a class="dropdown-item" href="#">ВЫКУП АВАРИЙНЫХ АВТО</a>
          <a class="dropdown-item" href="#">ВЫКУП АВТОМОБИЛЕЙ С ПРОБЕГОМ</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ВОПРОСЫ</a>
      </li>
    </ul>
  </div>
</nav>