.navbar-nav .nav-item:first-child {
    margin-right: 100px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 600;    
}

.navbar-nav .nav-item:first-child .nav-link {
    font-weight: 700;
}

.navbar-brand {
    font-weight: 700;
}


.arrow-top{
    bottom: 15px;
    left: 15px;
    position: fixed;
    color: #007bff;
    font-size: 40px;
}