<app-menu></app-menu>
<app-carousel></app-carousel>

<div class="container">
  <header class="jumbotron my-5">
    <h1 class="display-4">О НАС</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
      possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>
</div>

<div class="container">
  <header class="jumbotron my-5">
    <h1 class="display-4">УСЛУГИ</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
      possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>
</div>

<div class="container">
  <header class="jumbotron my-5">
    
    <h2 class="display-4">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>

    <h2><span class="badge badge-primary text-wrapy">ТЕЛЕФОНЫ И ПОЧТА</span></h2>
    <p class="lead">
      г. Воронеж, +7(985)433-8284<br>
      г. Ставрополь, +7(985)421-8284<br>
      Почта: info@gtcarter.ru
    </p>
    <h2><span class="badge badge-primary text-wrapy">АДРЕСА ОФИСОВ</span></h2>

    <p class="lead">
      г. Воронеж, пр. Труда, д. 48<br>
      г. Ставрополь, д. 15/1, офис 603
    </p>

  </header>
</div>

<div class="container">
  <header class="jumbotron my-5">
    <h2 class="display-4">A Warm Welcome!</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
      possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.
    </p>
    <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
  </header>
</div>

<app-footer></app-footer>