<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand d-block d-lg-none" href="#header" (click)="scrollToTop()"><i class="fa fa-car"
      aria-hidden="true"></i></a>
  <a class="navbar-brand d-block d-md-none" href="tel:+79521068386">8 952 106 83 86</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08"
    aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarsExample08">
    <a class="navbar-brand d-none d-lg-block" href="#header" (click)="scrollToTop()">АВТОЦЕНТР</a>  
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#about" (click)="scrollTo('about')">О НАС</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contant" (click)="scrollTo('contant')">КОНТАКТЫ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services" (click)="scrollTo('services')">УСЛУГИ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#questions" (click)="scrollTo('questions')">ВОПРОСЫ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#reviews" (click)="scrollTo('reviews')">ОТЗЫВЫ</a>
      </li>
    </ul>
    <a class="navbar-brand d-none d-md-block" href="tel:+79521068386"><i class="fa fa-mobile" aria-hidden="true"></i> 8 952 106 83 86</a>
  </div>
</nav>

<app-header (moveToContactUs)="toContactUs($event)"></app-header>
<div #aboutCompany></div>
<br>
<app-about (moveToServices)="toServices($event)"></app-about>

<div #contantUs></div>
<br>
<app-contact></app-contact>

<div #services></div>
<br>
<app-services></app-services>

<div #questions></div>
<br>
<app-questions></app-questions>

<div #reviews></div>
<br>
<app-reviews></app-reviews>
<br>
<app-footer></app-footer>

<i *ngIf="isShowArrowUp" class="fa fa-arrow-circle-up arrow-top d-none d-lg-block" aria-hidden="true"
  (click)="scrollToTop()"></i>