.navbar {
    box-shadow: 0 2px 0 rgba(0,0,0,.12), 0 1px 0 rgba(0,0,0,.24);
}

.navbar-nav > a {
    margin-right: 100px;
}

.navbar-nav .nav-item .nav-link {
    font-weight: 600;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
}

.navbar-brand {
    font-weight: 700;
}

.arrow-top {
    bottom: 15px;
    left: 15px;
    position: fixed;
    color: #007bff;
    font-size: 40px;
}

.fa.fa-mobile {
    font-size: 25px;
}