<div class="container">
    <header class="jumbotron">
      <h2 class="display-4">О НАС</h2>
      <p class="lead">
        Компания «Автодилер СК» работает по всему СКФО на рынке выкупа и продажи автомобилей более семи лет.
        За это время мы накопили богатый опыт организации и проведения дорогого выкупа 
        авто большинства известных авто производителей. Наши знания и умения мы используем 
        в своей работе, чтобы оказывать вам качественные услуги каждый день.
      </p>
      <img class="about-img" src="assets/images/about.jpg" alt="About us">
      <h2 class="display-5">ЧЕМ МЫ ОТЛИЧАЕМСЯ ОТ ДРУГИХ</h2>
      <ul class="lead">
         <li><i class="fa fa-circle fa-custom" aria-hidden="true"></i> порядочность и честность</li>
         <li><i class="fa fa-circle fa-custom" aria-hidden="true"></i> высокая цена выкупа</li>
         <li><i class="fa fa-circle fa-custom" aria-hidden="true"></i> профессионализм</li>
         <li><i class="fa fa-circle fa-custom" aria-hidden="true"></i> качественный сервис</li>
         <li><i class="fa fa-circle fa-custom" aria-hidden="true"></i> бесплатная диагностика и оформление сделки</li>
      </ul>
      <p class="lead">
        Сейчас на вторичном рынке авто наблюдается избыток предложения над спросом, что сильно 
        усложняет задачу владельцу автомобиля, который желает срочно продать своё транспортное 
        средство. Кроме того, чтобы продать б/у автомобиль самостоятельно, нужно сначала привести 
        его в порядок — выполнить необходимый ремонт, произвести чистку салона, устранить мелкие 
        неисправности. При этом выкуп автомобиля ничего из этого не требует, и именно поэтому он 
        так популярен у опытных владельцев. Автовыкуп позволяет не сталкиваться с множеством подводных 
        камней при продаже автомобиля и быстро реализовать главную цель — получить быстро деньги за 
        свою машину.
      </p>
      <p class="lead">Компания «Автодилер СК» предлагает своим клиентам широкий спектр <a href="#services" (click)="toServices()">услуг</a>.</p>
      <p class="lead">
        Вам не придется терять время на публикацию объявлений и бесконечные демонстрации своего 
        автомобиля потенциальным покупателям. Вам не нужно будет ждать недели и месяцы, чтобы, наконец, 
        продать машину и получить деньги. Мы предлагаем быстрый выкуп автотранспорта по максимально 
        возможной цене. Мы даем гарантии юридически верного оформления сделки. Вы получите всю сумму за 
        автомобиль сразу после заключения договора.
      </p>
      <p class="lead">
        Мы вкладываем средства в обучение и подготовку каждого нашего сотрудника, чтобы взаимодействие с 
        компанией было для вас полезным, выгодным и удобным. Все этапы работы отточены до мелочей, а значит, 
        вы сможете продать свой автомобиль максимально оперативно, избежав всех сложностей и сопутствующих проблем.
      </p>
      <p class="lead">
        Обратитесь за выкупом к надежной и проверенной компании с внушительным опытом - и продайте свою машину на лучших условиях!
      </p>
    </header>
  </div>