<div class="container">
    <header class="jumbotron">
        <h2 class="display-4">ОТЗЫВЫ</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-bolder">Сергей <i class="fa fa-user-circle" aria-hidden="true"></i></p>
                    <p class="lead">
                        Нужно было срочно продать Мазду 3,2006 года с большим пробегом. 
                        После долгих поисков и звонков, случайно натолкнулся в интернете на компанию 
                        Автодилер СК. Быстро договорились о встрече и в течение 2-х часов машина была продана. 
                        Деньги (наличные) были выплачены сразу после заключения договора. 
                        Большое спасибо за отличный сервис!!! Автодилер СК процветания!!!
                    </p>    
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">Роман <i class="fa fa-user-circle" aria-hidden="true"></i></p>
                    <p  class="lead">
                        Всем доброго времени суток! Приобрёл машину в компании Автодилер СК 
                        Шевроле Круз 2012 года рассказали о машине все, что менялось, а что нет, что она не бита не крашена и тд 
                        И все это оказалось правдой,проверял и в сервисе и толщиномером. Если вы хотите приобрести или продать свою машину, то смело обращайтесь в Автодилер СК 
                        Ребята специалисты своего дела.
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">Антон <i class="fa fa-user-circle" aria-hidden="true"></i></p>
                    <p  class="lead">
                        Продавал Форд Фокус. Ребята приехали в день обращения, предварительно согласовав удобное для МЕНЯ время. 
                        Быстро проверили машину, оперативно написали договор, моментально перечислили деньги на карту. 
                        Ценник меня устроил. Через месяц позвонили и прислали копию ПТСа с новым владельцем. 
                        Пришедший штраф с камеры был ими оплачен, что добавляет им плюс.
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">Кристина <i class="fa fa-user-circle" aria-hidden="true"></i></p>
                    <p  class="lead">
                        Доброго времени суток! Выражаю слова благодарности  компании  Автодилер СК. 
                        нашла на просторах интернета, позвонила. 
                        Обозначила свои пожелания к автомобилю, сроки и бюджет. 
                        Компетентность, коммуникабельность ребят и желание помочь не оставили сомнений. 
                        Не прошло и двух недель, желаемый мной автомобиль в идеальном состоянии был найден. 
                        Уехала с машиной и в прекрасном настроении. Автодилер СК профессионалы своего дела! 
                        Рекомендую, не пожалеете!
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">Алексей <i class="fa fa-user-circle" aria-hidden="true"></i></p>
                    <p class="lead">
                        Здравствуйте,хочу поделится отзывом о фирме Автодилер СК. Деньги отдали сразу, цены адекватные. 
                        Проверка Авто на ограничения и угон. 
                        Минус 10% от реальной цены. Отдал им свой авто. Расчитались сразу. 
                        Цену дали больше чем другие , но естественно меньше чем цена по рынку. 
                        Сейчас думаю что купить взамен. За счёт того что покупают Авто дешевле, продают тоже дешевле 
                        чем по рынку. Возможно буду подбирать у них, благо выбор есть.
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">Николай <i class="fa fa-user-circle" aria-hidden="true"></i></p>
                    <p class="lead">
                        Отношение руководства к клиентам и возможность индивидуального подхода (человеческий фактор).Выкуп в день обращения. 
                        Выдача денег сразу.Документальное оформление процедуры. Ребята молодцы,рекомендую Автодилер СК. 
                    </p>
                </div>
            </div>
        </div>
    </header>
</div>