<div class="jumbotron mt-56">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center">
                <h1 class="display-4">СРОЧНЫЙ ВЫКУП АВТОМОБИЛЕЙ</h1>
                <h1><span class="badge badge-primary text-wrapy">В ВОРОНЕЖЕ И СТАВРОПОЛЕ</span></h1>
                <button type="submit" class="btn btn-outline-secondary btn-lg mt-4 mb-4">Контакты <i class="fa fa-arrow-circle-down font-size-25" aria-hidden="true"></i></button>
            </div>
            <div class="col-md-4">
                <p class="lead font-weight-normal">Оставьте заявку и наш сотрудник свяжется с Вами</p>
                <form [formGroup]="form" (ngSubmit)="submit()">

                    <div class="form-group">
                        <input id="name" class="form-control" placeholder="Ваше имя" type="text" formControlName="name">
                        <div *ngIf="form.get('name').touched && form.get('name').invalid" class="validation">
                            <small *ngIf="form.get('name').errors.required">Введите имя</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="phone" class="form-control" placeholder="Ваш телефон" type="text" formControlName="phone">
                        <div *ngIf="form.get('phone').touched && form.get('phone').invalid" class="validation">
                            <small *ngIf="form.get('phone').errors.required">Введите номер телефона</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea id="message" class="form-control resize-none" placeholder="Сообщение" rows="3" type="text"
                            formControlName="message"></textarea>
                    </div>

                    <button type="submit" class="btn btn-outline-secondary float-left"
                        [disabled]="form.invalid || submitted">Отправить</button>

                </form>
            </div>
        </div>
    </div>
</div>