<div class="container">
    <header class="jumbotron">
        <h2 class="display-4">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <h2><span class="badge badge-primary text-wrapy">ТЕЛЕФОНЫ И ПОЧТА</span></h2>
                <p class="lead">
                    г. Воронеж, +7(985)433-8284<br>
                    г. Ставрополь, +7(985)421-8284<br>
                    Почта: info@gtcarter.ru
                </p>
                <h2><span class="badge badge-primary text-wrapy">АДРЕСА ОФИСОВ</span></h2>

                <p class="lead">
                    г. Воронеж, пр. Труда, д. 48<br>
                    г. Ставрополь, д. 15/1, офис 603
                </p>
            </div>
            <div class="col-md-6 col-lg-8">
                <h2><span class="badge badge-primary text-wrapy">СХЕМА ПРОЕЗДА</span></h2>
                <div class="yandex-container mt-25">
                    <ya-map [center]="[51.677080, 39.170751]" [zoom]="15">
                        <ya-placemark [geometry]="[51.677080, 39.170751]"></ya-placemark>
                    </ya-map>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center social">
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-vk"></a>
                    <a href="#" class="fa fa-skype"></a>
                    <a href="#" class="fa fa-whatsapp"></a>
                    <a href="#" class="fa fa-phone"></a>
                </div>
            </div>
        </div>
    </header>
</div>