<div class="container">
    <header class="jumbotron">
        <h2 class="display-4">ВОПРОСЫ</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="font-weight-bolder">КАК ПРОИСХОДИТ СДЕЛКА КУПЛИ-ПРОДАЖИ АВТО <i class="fa fa-question" aria-hidden="true"></i></p>
                    <p class="lead">В черте города оперативно сами можем выезжать либо назначить место встречи клиенту в течении 30/40 мин.</p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">КАКИМ СПОСОБОМ, ВЫ ОПЛАЧИВАЕТЕ АВТОМОБИЛЬ <i class="fa fa-question" aria-hidden="true"></i></p>
                    <p  class="lead">Оформление договора купли-продажи. Оплата наличными или перевод средств на банковскую карту.</p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">МОЖНО ЛИ ПРОВЕРИТЬ ДЕНЬГИ, ПРЕЖДЕ ЧЕМ ПОДПИСЫВАТЬ ЧТО ЛИБО <i class="fa fa-question" aria-hidden="true"></i></p>
                    <p class="lead">Проверка денег в банке.</p>
                </div>
                <div class="col-md-4">
                    <p class="font-weight-bolder">КАК БЫСТРО ВЫ СМОЖЕТЕ КУПИТЬ МОЙ АВТОМОБИЛЬ <i class="fa fa-question" aria-hidden="true"></i></p>
                    <p class="lead">В течении 10 мин на месте осмотра авто.</p>
                </div>
            </div>
        </div>
    </header>
</div>