<div class="container">
    <header class="jumbotron">
        <h2 class="display-4">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <h2><span class="badge badge-primary text-wrapy">ТЕЛЕФОН И ПОЧТА</span></h2>
                <p class="lead mt-4">
                    <a href="tel:+79521068386"><i class="fa fa-mobile" aria-hidden="true"></i> 8 952 106 83 86</a>
                </p>
                <p class="lead">
                    <a href="mailto:sale@autovikuprus.ru"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        sale@autovikuprus.ru</a>
                </p>
                <h2><span class="badge badge-primary text-wrapy">СОЦИАЛЬНЫЕ СЕТИ</span></h2>
                <p class="social mt-4">
                    <a href="https://instagram.com/kupimavto_ru" class="fa fa-instagram"
                        target="_blank"></a>
                    <a href="https://wa.me/79521068386" class="fa fa-whatsapp" target="_blank"></a>
                    <a href="tg://resolve?domain=avtovikup_ru" class="fa fa-telegram"></a>
                </p>
            </div>
            <div class="col-md-6 col-lg-8">
                <h2><span class="badge badge-primary text-wrapy">ЗАДАТЬ ВОПРОС</span></h2>
                <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <input class="form-control" placeholder="Ваше имя" type="text" formControlName="name">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Ваш телефон" type="text"
                                    formControlName="phone">
                            </div>

                            <div class="form-group">
                                <input class="form-control" placeholder="Ваша почта" type="text"
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <textarea id="message" class="form-control resize-none" placeholder="Сообщение"
                                    type="text" formControlName="message"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline-primary pull-right">ОТПРАВИТЬ
                        <i *ngIf="isShowLoader" class="fa fa-circle-o-notch fa-spin fa-fw font-size-20"></i></button>
                </form>
            </div>
        </div>
    </header>
</div>