<div class="container">
    <header class="jumbotron">
        <h2 class="display-4">КОНТАКТНАЯ ИНФОРМАЦИЯ</h2>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <h2><span class="badge badge-primary text-wrapy">ТЕЛЕФОН И ПОЧТА</span></h2>
                <p class="lead mt-4">
                    <a href="tel:+79896334623"><i class="fa fa-mobile" aria-hidden="true"></i> +7 800 000 000 1</a>
                </p>
                <p class="lead">
                    <a href="mailto:darutyunyan95@mail.ru"><i class="fa fa-envelope-o" aria-hidden="true"></i> test@mail.ru</a>
                </p>
            </div>
            <div class="col-md-6 col-lg-8">
                <h2><span class="badge badge-primary text-wrapy">СОЦИАЛЬНЫЕ СЕТИ</span></h2>
                <div class="social mt-4">
                    <a href="https://instagram.com/autovikuprus.ru?igshid=1ijtabxir4uxs" class="fa fa-instagram" target="_blank"></a>
                    <a href="https://wa.me/79896334623" class="fa fa-whatsapp" target="_blank"></a>
                    <a href="tg://resolve?domain=dany_23t" class="fa fa-telegram"></a>
                </div>
            </div>
        </div>
    </header>
</div>