<div class="container">
    <header class="jumbotron">
        <h2 class="display-4">УСЛУГИ</h2>
        <p class="lead">
            Мы оказываем автовладельцам следующие услуги:
        </p>
        <ul class="lead">
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i><a href="#services-carBuyback"
                    (click)="scrollTo('carBuyback')"> выкуп автомобилей</a></li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i><a href="#services-carExchange"
                    (click)="scrollTo('carExchange')"> обмен авто</a></li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i><a href="#services-carSale"
                    (click)="scrollTo('carSale')"> продажа авто</a></li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i><a href="#services-visitSpecialist"
                    (click)="scrollTo('visitSpecialist')"> выезд специалиста для диагностики и оценки</a></li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i><a href="#services-registrationTransaction"
                    (click)="scrollTo('registrationTransaction')"> оформление сделки</a></li>
        </ul>
        <p class="lead">
            Диагностика дает возможность узнать сумму, которую клиент получит по итогам выкупа транспортного средства.
            Начинается она с экспресс-оценки по телефону или онлайн, а заканчивается детальным осмотром на месте. Наши
            мастера проводят максимально лояльную диагностику подержанного автомобиля и всегда предлагают за него
            хорошую цену.
        </p>
        <p class="lead">
            Оказываемая нами услуга обмена старой машины очень практична, ведь одна сделка заменяет собой сразу две
            транзакции, а значит, экономятся ваши силы и ваше время.
        </p>
        <h2 class="display-5">ЧЕМ МЫ ОТЛИЧАЕМСЯ ОТ ДРУГИХ</h2>
        <ul class="lead">
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> мы проводим диагностику бесплатно</li>
            <li><i #carBuyback class="fa fa-circle  fa-custom" aria-hidden="true"></i> мы осуществляем выкуп у вашего дома или
                конторы
            </li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> мы бесплатно оформляем бумаги</li>
        </ul>
        <br>
        <h2><span class="badge badge-primary text-wrapy">ВЫКУП АВТО</span></h2>
        <p class="lead">
            Компания «Автовыкуп-Рус» предлагает срочный выкуп авто дорого. Обратитесь к нам и закажите оценку вашего
            транспортного средства совершенно бесплатно с выездом специалиста по Москве. Мы предлагаем выкуп вашего
            автомобиля в течение одного часа.
        </p>
        <p class="lead">
            Если вы желаете реализовать авто по разумной цене и получить свою выплату в тот же день, не опасаясь
            подвергнуться действиям мошенников, обратитесь к нам. Мы проверенная компания, имеющая большой опыт
            проведения схожих сделок.
        </p>
        <p class="lead">
            Предоставив нам по телефону максимум сведений о машине, вы получите примерную оценку ее стоимости. Наш
            автоэксперт осмотрит ваш автомобиль в том месте, где это для вас удобно. Процедура покупки проста и
            прозрачна. Мы даем гарантии юридически верного оформления сделки. Вы быстро получите всю сумму за авто сразу
            после заключения договора.<span #carExchange></span> Окончательная стоимость транспортного средства вполне
            адекватна и зависит от его
            ликвидности.
        </p>
        <br>
        <h2><span class="badge badge-primary text-wrapy">ОБМЕН АВТО</span></h2>
        <p class="lead">
            Обмен автомобиля — удобная и пользующаяся большой популярностью услуга. Она дает возможность получить другое
            авто не в убыток себе, а кроме того, экономит ваше время. Вам не нужно будет публиковать объявления о
            продаже, показывать машину, участвовать в торге, остерегаясь мошенников, вам не придется отпрашиваться с
            работы, чтобы встретиться с покупателем. Наша компания бесплатно оценит автомобиль, проведет его
            диагностику, чтобы затем принять его стоимость в зачет цены другого транспортного средства.
        </p>
        <p class="lead">
            Преимущества услуги обмена:
        </p>
        <ul class="lead">
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> экономия времени</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> экономия средств</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> простота и удобство</li>
        </ul>
        <p class="lead">
            Наши мастера дадут реальную оценку автомобиля, а вам придется доплатить лишь возможную разницу в цене. Наша
            оценка всегда справедлива, ведь мы заинтересованы в том, чтобы предложить клиенту выгодное решение. <span
                #carSale></span> Кроме
            того, вы досконально узнаете всю историю вашего авто, что очень важно для владельцев, купивших свою машину
            «с рук».
        </p>
        <br>
        <h2><span class="badge badge-primary text-wrapy">ПРОДАЖА АВТО</span></h2>
        <p class="lead">
            Купить подержанный автомобиль нужной комплектации по приемлемой цене предлагает компания «Автовыкуп-Рус».
            Покупая авто у нас, вы защищаете себя от мошенников, которые могут попытаться продать вам неисправную, а то
            и кредитную машину.
        </p>
        <p class="lead">
            Наши преимущества:
        </p>
        <ul class="lead">
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> профессионализм</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> высокий уровень сервиса</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> полная диагностика</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> юридическая гарантия</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> быстрое оформление сделки</li>
        </ul>
        <p class="lead">
            Почему выгодно приобретать подержанный автомобиль? Дело в том, что он уже был обкатан на дорогах, однако его
            детали не износились существенно. С такой машиной нет причин бояться неожиданных поломок, ведь ее
            неисправности уже себя проявили на более ранних этапах использования. А значит, вы получаете надежное
            транспортное средство по демократичной цене.
        </p>
        <p class="lead">
            Купив авто у нас, не сомневайтесь, что с него сняты все обременения и оно абсолютно чистое юридически. Наши
            автомобили проверены во всех базах угона и розыска.
        </p>
        <p class="lead">
            Мы продаем только исправные транспортные средства, а весь представленный нами модельный ряд имеет небольшой
            пробег и минимальную амортизацию. Компания «Автовыкуп-Рус» обязательно проводит предпродажную подготовку, а
            значит, наши машины практически неотличимы от новых по внешнему виду и техническим характеристикам. Ваш
            будущий автомобиль проверят высококлассные мастера и дадут вам детальный отчет о его состоянии и
            особенностях. В ходе диагностики мы не ограничиваемся визуальным осмотром, а применяем современное
            оборудование и выявляем скрытые дефекты.
        </p>
        <p class="lead">
            Мы поможем подобрать авто, которое вам нужно. Широкий ценовой диапазон позволит вам выбрать автомобиль при
            любом бюджете, а популярные марки всегда в наличии. <span #visitSpecialist></span> Мы окружим вас вниманием
            на всех этапах выбора и
            приобретения машины.
        </p>
        <br>
        <h2><span class="badge badge-primary text-wrapy">ВЫЕЗД СПЕЦИАЛИСТА</span></h2>
        <p class="lead">
            Бывают такие ситуации, когда продать автомобиль нужно срочно, и нет времени публиковать объявления и искать
            покупателя. Лучше всего в этом случае обратиться к профессионалам, работающим в компании «Автовыкуп-Рус». Мы
            позаботимся о том, чтобы быстро выкупить ваш автомобиль, предложив за него адекватную цену.
        </p>
        <p class="lead">
            Именно диагностика позволяет точно определить сумму, которую можно получить при продаже. Обратите внимание,
            что мы предоставляем эту услугу совершенно бесплатно. Наши опытные специалисты максимально лояльны и
            заинтересованы в том, чтобы предложить вам отличные условия сделки.
        </p>
        <p class="lead">
            Оценка автомобиля включает в себя следующие элементы.
        </p>
        <ul class="lead">
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> экспресс-диагностика по телефону</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> проверка истории автомобиля</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> полная диагностика на месте</li>
        </ul>
        <p class="lead">
            Как только вы оставляете заявку на выкуп авто, наш сотрудник выезжает к вам в нужную точку города Москвы.
            Мастер осматривает авто при вас, и это занимает не больше 15-20 минут. Выездная диагностика позволяет дать
            экспертную оценку состояния транспортного средства. С ее помощью специалист определяет максимальную цену
            продажи автомобиля, чтобы предложить вам наиболее выгодные условия. Даже если впоследствии вы откажетесь от
            продажи своего авто, платить за выезд сотрудника вам не придется, а диагностика в любом случае позволит
            узнать много интересного о транспортном средстве.
        </p>
        <p class="lead">
            Проведение диагностики позволяет определить:
        </p>
        <ul class="lead">
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> исправность автомобиля</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> участие в дтп</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> технические характеристики авто</li>
        </ul>
        <p class="lead">
            В нашей компании работают высококлассные специалисты, которые детально знают устройство всех
            узлов транспортных средств и готовы аргументированно объяснить вам,<span #registrationTransaction></span>
            какую цену и по каким причинам компания
            готова заплатить за ваш автомобиль. А решение о продаже остается за вами.
        </p>
        <br>
        <h2><span class="badge badge-primary text-wrapy">ОФОРМЛЕНИЕ СДЕЛКИ</span></h2>
        <p class="lead">
            Неверно думать, что самый главный этап выкупа авто— расчет. Оформление сделки является ничуть не менее
            важной процедурой: заключение договора гарантирует безопасность продажи, а ошибки в нем могут стать
            источником многих неприятностей в будущем. Чтобы избавить себя от волнений и хлопот, обращайтесь для выкупа
            автомобиля только в проверенную компанию — такую, как «Автовыку-ЮГ». Наши специалисты знают
            законодательство, требования ГАИ и имеют большой опыт работы по сопровождению операций купли-продажи.
            Обратите внимание, что мы предлагаем своим клиентам совершенно бесплатное оформление сделки.
        </p>
        <p class="lead">
            Преимущества заключения сделок в нашей компании:
        </p>
        <ul class="lead">
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> обязательное оформление договора</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> расчеты через кассу</li>
            <li><i class="fa fa-circle  fa-custom" aria-hidden="true"></i> соответствие всех документов закону и
                требованиям ГИБДД</li>
        </ul>
        <p class="lead">
            На этапе оформления владелец авто предоставляет компании пакет документов: паспорт, ПТС и свидетельство о
            регистрации. Мы же готовим нужные бумаги, осуществляем проверки и экспертизы, чтобы гарантировать законность
            продажи и исключить возможность ее аннулирования. В ходе работы специалисты нашей компании поясняют клиенту
            нюансы и особенности оформления, ведь мы детально знаем все тонкости операций при покупке и продаже
            автомобилей, накопив большой опыт сопровождения подобных сделок.
        </p>
    </header>
</div>