/* You can add global styles to this file, and also import other style files */

body {
    letter-spacing: 0.5px;
}

/* Common styles */

.mt-25 {
    margin-top: 25px;
}

.mr-0 {
    margin-right: 0;
}

h2 {
    margin-bottom: 1rem;
}

ul{
    margin-left: 10px;
}

.fa-custom {
    color: #007bff;
    font-size: 15px;
}

.form-control.ng-invalid.ng-touched{
    border: 2px solid red;
}

/* Overrid bootstrap */

.card-body input,
.card-body select,
.card-body textarea {
    border-color: #007bff;
}

.jumbotron {
    margin: 30px 0;
    box-shadow: 0 0 8px rgba(0,0,0,.12), 0 0px 8px rgba(0,0,0,.24);
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem;
    }
}

@media (max-width: 567px){
    .display-4{
        font-size: 2.5rem;
    }

    .badge {
        white-space: normal;
    }
}

.fa {
    cursor: pointer;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}