<div class="container-fluid footer">

  <div class="text-center social">
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-vk"></a>
      <a href="#" class="fa fa-skype"></a>
      <a href="#" class="fa fa-whatsapp"></a>
  </div>

  <div class="container-fluid text-center">
      <div class="copyright">
          &copy; С. К. Спиченкова, 2020 | Все права защищены
      </div>
  </div>
</div> 