.footer {

    color: white;
    background-color: #343a40;
}

.copyright{
    font-size: small;
    padding-top: 15px;
    padding-bottom: 15px;
}

.social {
    padding-top: 20px;
}

.social a {
    font-size: 30px;
    color: white;
    padding: 0px 10px;
}

.social a:hover {
    text-decoration: none;
    color: #ccc2c2;
} 